<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title</title>
  <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h3>Mastercard MIGS API Sample</h3>
      </a>
      <small class="text-muted">by Mohammad Elsheimy</small>
    </div>
  </nav>


  <div class="container mt-2">
    @RenderBody()
  </div>
</body>
</html>